{% extends 'common/base.html' %}
{% block title %}
Order Success | SugarAngel
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Order Placed Successfully!</h4>
                <hr style="border-color: #b8bfc2;">
            </div>
            <div class="col-12">
                <p>Thank you for your order! Your order has been placed successfully.</p>
                <p>You will receive an order confirmation call shortly.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}